<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Event Monitoring</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- CSS Files-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
<link rel="stylesheet"
	href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css"></link>

<!-- JS libraries -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script
	src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" th:src="@{/js/src/journal.js}"></script>
<style type="text/css">
table {
    /*  table-layout: fixed;*/
    word-wrap: break-word;
}
.table td {
   text-align: center;   
}
/* Display dialog on top of bootstrap navigation menu  */
div.ui-dialog {
     z-index: 1031 !important;   
}
/* Hide Header of JQuery Dialog box  */
.noTitleStuff .ui-dialog-titlebar {
	display: none
}
</style>

</head>

<body>
	<form action="#" th:action="@{/find}" method="post">
		 <nav class="navbar navbar-default navbar-fixed-top"> 

			<div class="wrapper container">
				 <div class="row">
					<div class="navbar-header">
						<a class="navbar-brand" th:href="@{/}">Event Monitoring</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/find}">Journal</a></li>
						<li><a href="#">Page 1</a></li>
					</ul>
				</div> 


				<div class="row">
					<!-- 	<div class="col-md-4">Start: <input type="text" th:value="${from}" name="from" id="from" /></div>
					<div class="col-md-4">End: <input type="text" th:value="${to}" name="to" id="to" /></div> -->
					<div class='col-md-6'>
						<div data-role="popup" id="popup" data-overlay-theme="b" data-theme="a" data-tolerance="15,15" class="ui-content"></div>
					</div>
					<div class='col-md-2'>
						<div class="form-group">
							<div class='input-group date' id='datetimepicker1'>
								<input type='text' class="form-control" th:value="${from}"
									name="from" id="from" /> <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					</div>

					<div class='col-md-2'>
						<div class="form-group">
							<div class='input-group date' id='datetimepicker1'>
								<input type='text' class="form-control" th:value="${to}"
									name="to" id="to" /> <span class="input-group-addon"> <span
									class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					</div>

					<div class="col-md-2">
						<input type="submit" id="submit" />
					</div>

				</div>

				<div class="row">
					
					<div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Modal Header</h4>
								</div>
								<div class="modal-body">
									<p>Some text in the modal.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="row">
					<div class="table-responsive">
						<table id="myTable"
							class="display table table-hover table-bordered table-condensed"
							width="100%">
							<thead>
								<tr>
									<th style='width: 30%'>LOCAL_TRANSACTION_ID</th>
									<th style='width: 30%'>BROKER_NAME</th>
									<th style='width: 30%'>EVENT_TIMESTAMP</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="entry : ${entries}">
									<td th:text="${entry.localTransactionId}"><a th:text="${entry.id}" href="#" id="id"></a></td>
									<td th:text="${entry.brokerName}"></td>
									<td th:text="${entry.eventTimeStamp}"></td>
							
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- <div class="row">
					Pagination Bar
					<div>
						<div th:fragment='paginationbar'>
							<div class='pagination pagination-centered'>
								<ul class="pagination">
									<li th:class="${page.firstPage}? 'disabled' : ''"><span
										th:if='${page.firstPage}'>← First</span> <a
										th:if='${not page.firstPage}'
										th:href='@{${page.url}(page=0,size=${page.size})}'>← First</a></li>
									<li th:class="${page.hasPreviousPage}? '' : 'disabled'"><span
										th:if='${not page.hasPreviousPage}'>«</span> <a
										th:if='${page.hasPreviousPage}'
										th:href='@{${page.url}(page=${page.number-1},size=${page.size})}'
										title='Go to previous page'>«</a></li>
									<li th:each='item : ${page.items}'
										th:class="${item.current}? 'active' : ''"><span
										th:if='${item.current}' th:text='${item.number-1}'>1</span> <a
										th:if='${not item.current}'
										th:href='@{${page.url}(page=${item.number-1},size=${page.size},from=${from},to=${to})}'><span
											th:text='${item.number-1}'>1</span></a></li>
									<li th:class="${page.hasNextPage}? '' : 'disabled'"><span
										th:if='${not page.hasNextPage}'>»</span> <a
										th:if='${page.hasNextPage}'
										th:href='@{${page.url}(page=${page.number+1},size=${page.size})}'
										title='Go to next page'>»</a></li>
									<li th:class="${page.lastPage}? 'disabled' : ''"><span
										th:if='${page.lastPage}'>Last →</span> <a
										th:if='${not page.lastPage}'
										th:href='@{${page.url}(page=${page.totalPages},size=${page.size})}'>Last
											→</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div> -->
			</div>
		 </nav> 
		>
	</form>


</body>
</html>